// Custom styles

#root {
  @apply w-full;
}

// Set the background color of the body on light and dark mode
body {
  @apply bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-gray-200;
}

#configCardDiv, #gridCardDiv, #blocksCardDiv, #objectiveGridCardDiv{
  @apply bg-white dark:bg-gray-800;
}

.logo {
  width: 40px;
  height: 40px;
}

.topbarContainer {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.mainContainer {
  margin-top: 80px;
  height: calc(100vh - 80px);
}

.blocklyMainBackground{
  stroke-width: 0;
}

// Blockly toolbox scrollbar fix
svg[display='none'] {
  display: none;
}